.calendar {
  font-size: 1.1rem;
  font-weight: 500;
  @include box($pad: 1rem 1rem 0 1rem);

  calendar {
    padding: 0.55rem;

    &:selected {
      text-shadow: $text_shadow;
      color: $accent;
    }

    &.highlight,
    &.header,
    &.button {
      color: $accent;
    }

    &:indeterminate {
      color: transparentize($fg_color, 0.7);
    }
  }
}